/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/images
/backups
/storage/debugbar
*.sql
/meili
/meilisearch
/data.ms
.phpactor.json
.gitignore
imgproxy.*
rr
.rr.yaml
imgproxy-enc-key
imgproxy-salt-key
_ide_helper.php
/storage/app/
/result
