@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    @apply h-full;
}

.grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
}

.grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";

    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
}

.grow-wrap>input {
    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
}

.grow-wrap>input,
.grow-wrap::after {
    /* Identical styling required!! */
    @apply px-2 py-px bg-transparent font-bold border;
    font: inherit;

    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
}
