@import "tailwindcss";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source "../views";

@theme {
    --font-sans: Jost, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-brand-50: #ecfdf5;
    --color-brand-100: #d1fae5;
    --color-brand-200: #a7f3d0;
    --color-brand-300: #6ee7b7;
    --color-brand-400: #34d399;
    --color-brand-500: #10b981;
    --color-brand-600: #059669;
    --color-brand-700: #047857;
    --color-brand-800: #065f46;
    --color-brand-900: #064e3b;
    --color-brand-950: #022c22;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

#app {
    @apply h-full;
}

.grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
}

.grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";

    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
}

.grow-wrap:has(> textarea) {
    white-space: pre-wrap;
}

.grow-wrap > input,
.grow-wrap > textarea {
    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
}

.grow-wrap > textarea {
    resize: none;
}

.grow-wrap > textarea,
.grow-wrap:has(> textarea)::after {
    @apply border px-2 py-px border-gray-100 bg-transparent;
    max-width: 65ch;
    grid-area: 1 / 1 / 2 / 2;
}

.grow-wrap > input,
.grow-wrap:has(> input)::after {
    /* Identical styling required!! */
    @apply px-2 py-px bg-transparent font-bold border border-gray-100;
    font: inherit;

    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
}

.sortable-ghost {
    @apply border-brand-600;
}
